button{
	margin-right: 5px;
}

.notification{
	color: #B22222;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    z-index: 1;
    color:white;
}