ul.list{
	padding: 0;
	list-style: none;
}

/*Active*/
div.bg-primary{
	padding: 10px;
	margin-top: 10px;
	padding-bottom: 20px;
	border-radius: 5px;
	box-shadow: 1px 4px 14px 1px rgba(0,0,0,0.40);
	width: 100%;

}

div.bg-primary li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 2px;
	
}

div.bg-primary button{
	margin: 5px;
}


div.bg-primary li span{
	word-wrap: break-word;
}

.button-group{
	background: white;
	max-width: 24%;
	text-align: center;
	justify-content: center;
	display: flex;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 1px 4px 14px 1px rgba(0,0,0,0.20);
}

.button-group > button {
	  max-width: 50%;
	  margin-top: 0px;
	  box-shadow: 1px 4px 14px 1px rgba(0,0,0,0.20);
}