ul.list{
	padding: 0;
	list-style: none;
}

/*Active*/
div.bg-primary{
	padding: 10px;
	margin-top: 10px;
	padding-bottom: 20px;
	border-radius: 5px;
	box-shadow: 1px 4px 14px 1px rgba(0,0,0,0.40);
	width: 100%;

}

div.bg-primary li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 2px;
	
}

div.bg-primary button{
	margin: 5px;
}


div.bg-primary li span{
	word-wrap: break-word;
}

.button-group{
	background: white;
	text-align: center;
	justify-content: center;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 1px 4px 14px 1px rgba(0,0,0,0.20);
}

.button-group > button {
	width: 100px;
	padding: 5px 10px;
	box-shadow: 1px 4px 14px 1px rgba(0,0,0,0.20);
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in-out;
}